@import "../../assets/css/variables.scss";
.navBar {
  margin-top: 50px;
  height: 38px;
  width: 100%;
  z-index: 8;
  background: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
  transition: all 0.2s;
  .navBarTag {
    height: 26px;
    color: #495060;
    margin: 6px 2px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 12px;
    line-height: 26px;
    border: 1px solid #ebeef5;
    border-radius: 2px;
    display: inline-block;
    .closeBox {
      display: inline-block;
      height: 100%;
      border-left: 1px solid #ebeef5;
      margin-left: 6px;
    }
    &:hover {
      opacity: 0.85;
      //box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.04);
      //border-color: #3d8dbc;
    }
    .point {
      display: none;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      margin: auto 0;
      margin-right: 5px;
      position: relative;
      background: #fff;
    }
    .elIconClose {
      font-weight: bolder;
      margin-left: 6px;
      &:hover {
        color: #ff0000;
      }
    }
  }
  .active {
    border: 1px solid $--color-primary;
    background: $--color-primary;
    color: #fff;
    .point {
      display: inline-block;
    }
  }
  .scrollContainer {
    flex: 1;
    height: 100%;
  }
}
